@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2E0C8;
}

.list-anime{
    display: flex;
    margin: 20px;
}

.header {
    background-color: #907C60; 
}

.container h1{
    font-family: P;
    font-size: 3rem;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
}

.container form input{
    width: calc(100% - 200px);
    padding: 8px 10px;
    margin-bottom: 15px;
    margin-left: 6%;
    border: none;
    background-color: #FFFFFF;
    font-size: 15px;
}